

// Primary color scheme
$lightskyblue: #a5c9c9;
$skyblue: #00858e;
$mesaorange: #c76c19;
$mesabrown: #94483b;
$lightmesabrown: #d9814f;
$roadgray: #745a5d;



//Nav specific;





$yellowfont: #eeff41;
$gray: #d4d2d2;
$pacificoc: 'Pacifico', cursive;
$navbackground: rgba(rgba(107, 99, 99, 0.39), 0.5);


//Fonts
$handwriting: 'Nanum Pen Script', cursive;


