

// Primary color scheme
$DarkPurple: #322f3d;
$MediumPurple: #59405c;
$BlueGrey: #4b5d67;
// $mesaorange: #c76c19;
// $mesabrown: #94483b;
// $lightmesabrown: #d9814f;
// $roadgray: #745a5d;



//Nav specific;

$GreenHover: greenyellow;
$VisitedPink: hotpink;
$GhostWhite: ghostwhite;
$WhiteSmoke: whitesmoke;
$SoftPurple: rgb(149, 109, 187);
$DarkGray: rgb(112, 110, 110);

$yellowfont: #eeff41;
$gray: #d4d2d2;
$pacificoc: 'Pacifico', cursive; // logo
$navbackground: rgba(rgba(107, 99, 99, 0.39), 0.5);


//Fonts
$primaryFont: 'DejaVu Sans Mono', monospace;
$handwriting: 'Nanum Pen Script', cursive;


