.about-us-background-container {
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    background-image: url('../images/lt-aboutUs-background.jpg');
    background-size: cover;
    overflow: hidden;
};


.about-us-container {
    display: grid;
    grid-auto-flow: column;
    position: absolute;
    bottom: 45px;
    left: 200px;

    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // align-self: flex-end;
//    padding-top: 18vh;
//    padding-left: 5vh;
}

.about-us-polaroid {
    // background: #dbe1e2;
    max-width: 255px;
    background: white;
    display: inline-block;
    // margin: 20px 50px 15px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;

    font-family: $handwriting;
}

.about-us-polaroid:nth-child(1) {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(2deg);
  }



.about-us-polaroid:nth-child(2) {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(2deg);
  }

  .about-us-polaroid:nth-child(3) {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(2deg);
  }

  .about-us-polaroid:nth-child(4) {
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(2deg);
  }

.about-us-polaroid img{
    height: 27vh;
    width: 18vw;
    max-width: 248px;
    min-width: 240px;
    min-height: 174px;
    border-radius: 2% 2% 0% 0%;;
}


.about-us-polaroid h2 {
    display: flex;
    justify-content: center;
    
    font-size: 40px;
}

.about-us-polaroid h3 {
    display: flex;
    justify-content: center;

    font-size: 24px;
    scroll-padding-bottom: 5%;

}

.polaroid-links-list {
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 50%;
    margin: auto;

}

.polaroid-links-list a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.polaroid-links-list a:hover {
    color: red;
    text-decoration: underline;

};
