
.attractions-show-container {
  // background-image: url(https://i.guim.co.uk/img/media/8a7ac4fbab07bdf3a19fa238d67d7cdf0587f27b/0_329_4992_2995/master/4992.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=a942605e99399862606c87ed1ac7ab9e);

  padding-top: 80px;
  padding-left: 25px;
  

}

.attraction-show-container {
  width: 300px;
  padding-bottom: 10px;
  position: fixed;
  left: 50px;
  top: 600px;
}

.attraction-title {

  font-size: 20px;
  text-decoration: underline black;
  text-emphasis: 700;
  font-family: $pacificoc;

}

.attraction-description {
  padding-top: 7px;
  font-size: 16px;
  width: 43vw;
}

.show-page-img {
  position: fixed;
  left: 3vw;
  top: 12.7vh;
  width: 43vw;
  height: 60vh;
  border-radius: 10px;
}

.attraction-map {
  position: fixed;
  top: 12.7vh;
  left: 50vw;
  height: 75vh;
  width: 45vw;
}