.attraction-form{
  display: flex;  
  flex-direction: column;
  position: relative; 
  // height: 100vh;
  background-image: url(https://www.bloomandoil.com/app/uploads/2019/11/Homepage_Wide-Main-1-2048x1591.jpg);

}

.new-attraction-container {
  margin-top: 75px;
  height:100vh;
  background-size: cover; 
  display: inline-block;
  p {
    font-family: $primaryFont;
    font-size: 50px;
    margin-left: 8%;
    color: $GhostWhite; 
  }
 
  input:focus {
    outline: none;
  }
}

.new-attraction-button {
  width: 93%;
  height: 40px;
  font-size: large;
  font-family: $primaryFont;
  background-color: $SoftPurple;
  color: $GhostWhite;
  margin-left: 10px;
}
    // .attraction-rating {
    //   font-size: 55px;
    // }
// input[type=number] {
//     height: 30000000px;
// }

.insideDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: flex-start;
  margin-right: 20px;

  form {
    font-size: medium;
    display: flex;
    flex-direction: column;
    width: 50%;

    input {
      padding: 10px;
      height: 40px;
      margin: 10px;
      margin-left: 40px;
    }
  }

}

// footer {
//   display: flex;
//   width: 100%;
//   background-color: black;
//   // position: absolute;
// }