.attractions-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
      "search  map"
      "searchResults map"
      "attractions map";

  .searchBar {
    grid-area: search;
    padding-top: 5vh;


  }
}

.attraction-map {
  height: 100vh;
  grid-area: map;

  // position: fixed;
  // // top: 1vh;
  // right: 0;
  // bottom: 0;
  // // left: 50vw;
  // height: 100vh;
  // width: 55vw;
}



.attraction-listings {
  grid-area: attractions;
  // left: 20px;
  // margin-top: 175px;
  // display: flex;
  // position: relative;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // flex-direction: column; 
  // width: 100%;

  div {
    margin-left: 25px;
    margin-bottom: 25px;
    height: 300px; 
    width: 650px;
    border-radius: 10px;
    // background-color: gray;
    background-color: $MediumPurple;
  }












































  .attractionsImage {
    margin: 20px 10px 10px 10px;
    // width: 300px;
    height: 260px;
    width: 280px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .attractionTitle{
    font-size: x-large;
    font-weight: 800;
  }

  .attractionAddress{
    font-size: large;
  }

  .attractionDescription{
    font-size: smaller;
    margin-top: 5px;
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: absolute;
    padding-bottom: 2px;
    
  }

  .attractionRating{
    margin-top: 5px;
  }






  .attractionContent {
    
    padding-top: 8px;
    float: left;
    width: 225px;
    height: 240px;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: $primaryFont;
    font-size: large;
    color: black;
   
  }
 
  .attractionPic {
    float: right;
    width: 325px;
    border-radius: 10px;
    display: flex;
    align-content: center;
  }
}
  .attraction-index-item{
    border-radius: 10px;
  }









.attraction-box {
 width: 100%;
}

.attraction-box-a {
  width:45%
}

.AddAttraction {
  display: flex;
  position: fixed;
  top: 150px;
  left: 32%;
  font-size: 17px;
  font-family: $primaryFont;

  a {
    text-decoration: none;
    // color: aqua;
    color: $GhostWhite;
  }
  a:hover {
    color: $GreenHover;
  }
}