.attractions-map-section {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.attractions-scroll {
  overflow: auto;
  max-height: 800px;
  padding-right: 20px;
}




.attractions-listing { 
  margin-top: 175px;
  
  width: 90%;

  div {
    margin-left: 25px;
    margin-bottom: 25px;
    height: 300px; 
    width: 650px;
    border-radius: 10px;
    // background-color: gray;
    background-color: $MediumPurple;
  }
  


//Attraction Box Styling

  .attractionsImage {
    margin: 20px 10px 10px 10px;
    // width: 300px;
    height: 260px;
    width: 280px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .attractionPic {
    float: right;
    width: 325px;
    border-radius: 10px;
    align-content: center;
  }

  .attractionTitle{
    font-size: x-large;
    font-weight: 800;
  }

  .attractionAddress{
    font-size: large;
  }

  .attractionDescription{
    font-size: smaller;
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: 2px;
    
  }

  .attractionRating{
    margin-top: 5px;
  }

  .attractionContent {
    padding-top: 8px;
    float: left;
    width: 225px;
    height: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: $primaryFont;
    font-size: large;
    color: black;
   
  }
 

}
  .attraction-index-item{
    border-radius: 10px;
  }


.attractions-container {
  min-height: 100vh; 
  background-color: $BlueGrey;

  .searchBar {
    padding-top: 85px;
    position: fixed;
    left: 24px;
    z-index: 2;
  }
}


.attraction-box-a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.AddAttraction {
  display: flex;
  position: fixed;
  top: 150px;
  left: 32%;
  font-size: 17px;
  font-family: $primaryFont;

  a {
    text-decoration: none;
    // color: aqua;
    color: $GhostWhite;
  }
  a:hover {
    color: $GreenHover;
  }
}