
.main-page-footer {
  display: flex;
//    justify-content: space-evenly;
  bottom: 0px;
  padding-left: 5%; 
  padding-top: 1%; 
  width: 100vw;
  height: 100%;
  background-color: #322f3d;
}
.copyright {
  padding-right: 2%;
}
.about-us-link {
  color: ghostwhite;
  font-family: DejaVu Sans Mono, monospace;
}
.about-us-link:hover {
  font-weight: bold;;
}
.footer-logo {
  height: 100%;
}
.copyright-container {
  display: flex;
  justify-content: space-around;
}
.copyright {
  color: ghostwhite;
  font-family: DejaVu Sans Mono, monospace;
}