
.main-page-footer {
  display: flex;
  padding-left: 5%; 
  padding-top: .5%; 
  padding-bottom: .5%;
  height: 100px;
  background-color: #322f3d;

  img {
      height: 100%;

  }
}

.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: ghostwhite;
  font-family: DejaVu Sans Mono, monospace;

  a {
    color: ghostwhite;    
  }
  a:hover{
    font-weight: bold;;
    color: greenyellow;
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 150%;
  }
}
