
.main-page-footer {
  display: flex;
  //  justify-content: flex-start;
  padding-left: 5%; 
  padding-top: 1%; 
  height: 100px;
  background-color: #322f3d;
}
.copyright {
  padding-right: 2%;
}
.about-us-section {
  display: flex;
  flex-direction: column;
}
.about-us-link {
  color: ghostwhite;
  font-family: DejaVu Sans Mono, monospace;
}
.about-us-link:hover {
  font-weight: bold;;
}
.footer-logo {
  height: 100%;
}
.copyright-container {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // align-items: right;
}
.copyright {
  color: ghostwhite;
  font-family: DejaVu Sans Mono, monospace;
  width: 100%;
}