.login-form-container{
    background-color: grey;
    display: flex;
    justify-content: left;
    border-radius: 13px;
    width: 500px;
    height: 400px;
    padding: 20px;
}
.login-form-input{
    width: 470px;
    height: 50px;
    margin: 10px;
}