.login-form-container{
    background: rgba(44, 49, 53, 0.829);
    display: flex; 
    justify-content: left;
    border-radius: 10px;
    width: 500px;
    padding: 20px; 
    display: flex;
    justify-content: center;
    box-shadow: 2px 3px 2px 3px;
    border: 1px solid;
}
.login-form-input{
    width: 470px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1.5px;
    background-color: rgba(146, 146, 146, 0.356);
    color: rgb(5, 4, 4);
    font-size: 20px;
}

.login-bottom-form-div{
    display: flex;
    justify-content: center;
    border-radius: 30%;
    font-family: $primaryFont;
    color: $GhostWhite;
    font-weight: bold;
}

.login-bottom-form-div button{
    background-color: $GhostWhite;
    font-family: $primaryFont;
    font-weight: bold;
    font-size: large;
    padding: 5px;
    border-radius: 8px;
    width: 96%;
    
}
.login-bottom-form-div button:hover {
    background-color: gray;
}

.login-form-errors {
    background: transparent;
    width: 200px;
    color: $GhostWhite;
}

.login-form-errors ul li {
    color: $GhostWhite;
    margin-left: 10px;
    font-family: $primaryFont;
}

