
.main-page-container {
  padding-top: 80px;
  background-color: $BlueGrey;
}

.main-page-container ul {
  display: flex;
  flex-direction: column;
}

.main-page-container ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-page-container ul li:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

.main-page-description {
  display: flex;
  position: fixed;
  top: 120px;
  left: 5%;
  width: 50%;
  flex-wrap: wrap;
  font-size: 28px;
  font-family: $primaryFont;
  color: $GhostWhite;
  line-height: 150%;
}

// .splash-list-images {
//   height: 500px;
//   width: 500px;
//   // background-image: url('../images/Drumheller_Dino.jpg');

// }