.main-page-description {
  display: flex;
  position: fixed;
  top: 120px;
  left: 5%;
  width: 50%;
  flex-wrap: wrap;
  font-size: 28px;
  // font-family: $pacificoc;
  font-family: DejaVu Sans Mono, monospace;
  color: ghostwhite;
  line-height: 150%;
}

.background-mage-main {
  height: 100px;
  width: 300px;
  background-image: url('../images/Drumheller_Dino.jpg');

}