.nav-container {
  position: fixed;
  width: 100vw;
  z-index: 5;
  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 100px;
    background-color: $DarkPurple;
  }

  ul li:first-child {
    font-size: 20px;
    font-weight: bold;
    font-family: $primaryFont;
  }

  ul li {
    font-size: 13px;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: $WhiteSmoke;
    font-family: $primaryFont;

  }
  a:hover {
    color: $GreenHover;
  }
}

.login-signup button {
  background: none;
  font-family: $primaryFont;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: $WhiteSmoke;
}
.login-signup button:hover {
color: $GreenHover;
}
.login-signup button:focus {
  outline: none;
}
.main-page-logout{
  background: none;
  color: $WhiteSmoke;
  border: none;
  font-family: $primaryFont;
  font-size: 13px;
  font-weight: bold;
}
.main-page-logout:hover{
  color: $GreenHover;
}

.welcome-user {
  display: flex;
  margin-right: 2%;
}
.header-name {
  display: flex;
  align-items: center;
  width: 200px;
  color: $GhostWhite;
  font-family: $primaryFont;

}
.less-Trav-Logo img {
  height: 60px;
}
// .states-dropdown {
//   position: relative;
//   display: inline-block;
// }

// .states-dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   padding: 12px 16px;
//   z-index: 1;
// }

// .states-dropdown:hover .states-dropdown-content {
//   display: block;
// }