.nav-container {
  position: fixed;
  width: 100vw;
  font-family: $pacificoc;
  z-index: 5;
  color: $yellowfont;
  

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
    background-color: $navbackground;
    // width: 100%;
  }

  ul li:first-child {
    font-size: 30px;
    font-weight: bold;

  }

  ul li {
    font-size: 20px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $yellowfont;
  }
}

.login-signup button{
  // background-color: $yellowfont;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 10px;
  border-radius: 30%;
  font-family: $pacificoc;
  font-size: 16px;
  font-weight: bold;
}
.main-page-logout{
   background-color: rgba(128, 128, 128, 0.5);
  padding: 5px;
  border-radius: 30%;
  font-family: $pacificoc;
  font-size: 16px;
  font-weight: bold;
}
