.nav-container {
  position: fixed;
  width: 100%;
  font-family: $pacificoc;
  z-index: 5;




  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 15px 100px;
    // color: $yellowfont;
    background-color: rgba($gray, 0.5);
  }

  ul li:first-child {
    color: blue;
    font-size: 24px;
    // background: -webkit-linear-gradient(red,yellow);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}