//** There is a search related ruleset in attraction_index.scss, that is nested.

.searchField {
  height: 40px;
  width: 500px;
}
.searchField:hover {
  // background-color: rgba(121, 121, 121, 0.712);
}

.categoryField {
  height: 46px;
  width: 150px;
}
.categoryField:hover {
  background-color: rgba(121, 121, 121, 0.712);
}

.ratingField {
  height: 46px;
  width: 150px;
}
.ratingField:hover{
  background-color: rgba(121, 121, 121, 0.712);
}
.searchButton {

  height: 36px;
  width: 40px;
  border: none;
  background-color: $DarkerGray;
  border-radius: 20%;
}
.searchButton:hover{
  background-color: $GreenHover;
}
.attraction-search-form{
  margin-top: 20px;
  background-color: $MediumPurple;
  border-radius: 10px;
  width: 85.5%;
  max-width: 572px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.attraction-search-form input , select{
  margin: 7px;
  background: none;
  border: none;
  font-size: 15px;
  color: rgb(7, 6, 6);
  font-weight: bold;
  font-family: $primaryFont;
 
}
 .attraction-search-form input:focus{
    outline : none;
  }
.attraction-search-form input::placeholder {
  color: rgb(7, 6, 6);
  font-weight: bold;
  font-family: $primaryFont;
}
.search-result-count {

  background-color: rgba(146, 146, 146, 0.726);;
  padding: 5px;
  border-radius: 8px;
}
