.signup-form-container{
    background-color: blue;
    //  display: flex;
    justify-content: left;
    border-radius: 13px;
    width: 500px;
    height: 400px;
    padding: 20px;
}
.login-form-errors{
   
}